<a class="btn" href="https://open.weixin.qq.com/connect/qrconnect?appid=wxcabb8d7af2c4b12b&amp;redirect_uri=http%3a%2f%2fdiosapp.com.cn%2faccount%2fWechatLoginCallBack&amp;response_type=code&amp;scope=snsapi_login&amp;state=#wechat_redirect">
	   微信登录
</a>
		
